<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css">
    
    <!-- CHANGE AS NEEDED FOR CHANNEL -->
    <title>Insurance Cover Inception</title>
    <meta name="description" content="Please click the link below to start your cover">
    <link rel="icon" type="image/x-icon" href="/imgs/Small-Business-Insurance.ico">
</head>