<%- include('header-html') %>

<body>
    <div class="inception-form-page">
        <%- include('header-container') %>
        <form action="" method="POST" class="questions-form-container">
            <div id="personal-details-form" class="question-page-container">
                <h2>Personal Details</h2>
                <hr>
                <div id="first-name-div" class="question-container">
                    <label for="first_name">What is your first name?</label>
                    <input type="text" name="first_name" id="first_name" placeholder="First Name" required>
                </div>
                <div id="last-name-div" class="question-container">
                    <label for="last_name">What is your last name?</label>
                    <input type="text" name="last_name" id="last_name" placeholder="Last Name" required>
                </div>
                <div id="sa-citizen-div" class="question-container">
                    <label>Are you a South African Citizen?</label>
                    <div class="two-radio-btn-container">
                        <div class="single-select-checkbox">
                            <input type="radio" id="sa_citizen" name="citizenship" value="sa_citizen">
                            <label for="sa_citizen">Yes</label>
                        </div>
                        <div class="single-select-checkbox">
                            <input type="radio" id="foreign_citizen" name="citizenship" value="foreign_citizen">
                            <label for="foreign_citizen">No</label>
                        </div>
                    </div>
                </div>
                <div id="id-passport-number-div" class="question-container">
                    <label for="id_number" id="id_number_label">What is your ID number?</label>
                    <input type="text" inputmode="numeric" pattern="\d*" name="id_number" id="id_number"
                        placeholder="ID Number" required>
                </div>
            </div>
            <div class="btn-container">
                <button id="prev_btn" value="/<%=routeDir%>/inception/cover-options/<%=cellNumber%>">Previous</button>
                <button type="submit" id="next_btn">Next</button>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="/js/inception.js"></script>
    <script type="text/javascript" src="/js/personalDetails.js"></script>
</body>