<%- include('header-html') %>

    <body>
        <div class="inception-form-page">
            <%- include('header-container') %>
                <form action="" method="POST" class="questions-form-container">
                    <div id="business-details-form" class="question-page-container">
                        <h2>Claims Form</h2>
                        <hr>
                    </div>
                </form>
        </div>
    </body>