@import url(inception/question-page-container.css);

@import url(inception/question-page-container.css);
@import url(inception/header-container.css);
@import url(inception/question-container.css);
@import url(inception/business-details.css);

html,
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    font-family: 'Arial', sans-serif;
    color: var(--primary-color);
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}