@import url(inception/question-page-container.css);

@import url(inception/question-page-container.css);
@import url(inception/header-container.css);
@import url(inception/question-container.css);
@import url(inception/buttons.css);

@import url(inception/cover-options.css);
@import url(inception/personal-detail.css);

html,
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background-color);
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.hidden {
    display: none;
}