@import url(inception.css);

:root{
    --primary-color: #ffc222;
    --secondary-color: #013a81;
    --tertiary-color: #6c757d;
    --text-color: #013a81;
    --secondary-text-color: white
}

html,
body {
    color: var(--text-color);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}